body {
    margin: 0; /* Quita el margen por defecto */
    padding: 0; /* Quita el relleno por defecto */
    background-image: url('img/54a76bbff789f570cb911a1947c1b5ed.jpg'); /* Ruta de tu imagen */
    background-size:cover; /* Ajusta la imagen para que cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen */
    height: 100vh; /* Asegura que el fondo ocupe toda la altura del viewport */
    width: 100%; /* Asegura que ocupe todo el ancho del viewport */
}


.landing-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100%;
}

.landing-logo-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-end;
    height: 30%;
    padding-bottom: 5%;
}

.img-logo-landing{
    height: 60%;
    width: 60%;
    
}

.text-logo-landing{
    font-family: serif;
}

.landing-text-container{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: center;

}

.landing-text {
    text-align: center;
    
}

.text-landing-final{
    margin-top: 4%;
    margin-bottom: 4%;
}

.regist-btn-container{
    display: flex;
    justify-content: center;
    width: 40%;
}

.link-landing-is{
    color: #b22729;
    text-decoration: none;
}

nav {
    height: 10%;
    opacity: 0.89;
    position: relative;
    z-index: 1;
    
}

.cont-1{
    border-radius: 10px;
    height: 75%;
    opacity: 0.89;
    
    
}

.login-regitro-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.cont-titulo-1{
    background-color: #0B1A33;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 80%;
    height: 10%;
}

.input-cont{
    width: 90%;
}

.label-class{
    padding:0;
    margin:0;
}

.input-class{
    height: 50px;
}

.regist-btn{
    margin-top: 10%;
    width: 50%;
    border-radius: 10px;
}

.text-registro {
    margin-top: 10%;
}


.proyectos-container{
    width: auto;
    height: 90%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items:center;
    margin-top: 100px;
}

.proyectos-titulo-container {
    opacity: 0.89;
    height: 10%;
    width: 80%;
    margin-bottom: 3%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.proyectos-listado-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.89;
    height: 70%;
    width: 80%;
    border-radius: 10px;
    padding: 1%;
}

.listado-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 95%;
    margin-bottom: 1%;
}

.añadir{
    display: flex;
    background-color: #b22729;
    width:5%;
}

.aniadir-boton{
    width: 100% ;
    height: 8%;
    border-radius: 8px;
    border: none;
}

.aniadir-boton-usuario {
    width: 100% ;
    height: 50%;
    border-radius: 8px;
    border: none;
}

.listado-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-item{
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 20%;
    align-items: center;
    justify-content: space-around;
    margin: 2%;
}

.card-icon {
    display: flex;
    height: 80%;
    width: 20%;
    background-color: #C8B094;
    border-radius: 10px;
    margin: 3%;
    align-items: center;
    justify-content: center;
}

.card-text-ingresar{
    display: flex;
    flex-direction: row;
    width: 80%;
}

.card-text {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 5%;
}

.close-btn{
    border: none;
    margin-left: 10%;
    background-color:#fdfdfd;
    width: 20%;
    border-radius: 10px;
}

.card-item-boton{
    width: 100%;
}

.usuario {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}


.dropDownMenu {
    position: absolute;
    margin-top: -100px;
    z-index: 2;
}

.tareas-titulo-container {
    opacity: 0.89;
    height: 10%;
    width: 80%;
    margin-bottom: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
}

.tareas-listado-container { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.89;
    width: 80%;
    border-radius: 10px;
    flex-wrap: nowrap;
}

.listado-tarea-columna {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 33%;
    margin-bottom: 1%;
    border-radius: 10px;
    padding: 0.5%;
}

.tarea-prueba {
    width: auto;
    height: fit-content;
    background-color:white;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    border:2px solid #b22729;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:2%;
}

.col-list-titulo {
    display: flex;
    background-color: #0B1A33;
    color: white;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


