$primary: #0B1A33;
$danger: #b22729;
$customized-pink: #ED9389;
$customized-white:#e3e3e3;
$customized-beige:#C8B094;


$theme-colors: (
  "primary": $primary,
  "danger": $danger,
  "pink": $customized-pink,
  "whiteC": $customized-white,
  "beige": $customized-beige
);


@import "./node_modules/bootstrap/scss/bootstrap.scss";

